@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes moveUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .move-up {
    animation: moveUp 10s linear infinite;
  }

  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(100% - 100vw));
    }
  }
  
  .move-right {
    animation: moveRight 5s linear infinite;
    
  }

  @keyframes moveRightFast {
    0% {
      transform: translateX(50);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .move-right-fast {
    @apply flex;
    animation: moveRightFast 5s linear infinite;
    width: 200%; /* Adjust this based on the total width of all images */
  }
  .image-container {
    display: flex;
    
  }
  